<footer class="footer-area footer--light">
  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>© <%= Date.current.year %>
              <a href="#"><%= @company.fantasy_name %></a>. All rights reserved. Created by
              <a href="#">Meu Catalogo</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
