<div id="menu_area" class="menu-area">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-light navbar-expand-lg mainmenu">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nestlé</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="#">Bebidas RTD</a></li>
                <li><a href="#">Achocolatados Pó</a></li>
                <li><a href="#">Leites</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Passatempo</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a href="#">Chocolate</a></li>
                    <li><a href="#">Morango</a></li>
                    <li><a href="#">Flocos</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Food</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="#">Bebidas RTD</a></li>
                <li><a href="#">Achocolatados Pó</a></li>
                <li><a href="#">Leites</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Passatempo</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a href="#">Chocolate</a></li>
                    <li><a href="#">Morango</a></li>
                    <li><a href="#">Flocos</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bebidas</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="#">Bebidas RTD</a></li>
                <li><a href="#">Achocolatados Pó</a></li>
                <li><a href="#">Leites</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Passatempo</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a href="#">Chocolate</a></li>
                    <li><a href="#">Morango</a></li>
                    <li><a href="#">Flocos</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
