<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% @manufacturers.each do |manufacturer| %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= manufacturer.description.upcase %>
          </a>
          <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
            <% manufacturer.groups.each do |group| %>
              <%= link_to group.description, group_path(group).capitalize, class:"dropdown-item" %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

