<div class="content-wrapper">
  <%= render partial: "dashboard/shared/breadcrumb", locals: {title: "Empresa"} %>
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12 col-sm-3 col-md-12">
          <div id="newFamily" class="bg-box">
            <%= render 'form' %>  
          </div>
         </div>
       </div>
     </div>
  </section>
</div>
