<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
  <div class="container">
    <div id='main-menu' class='main-menu'>
      <div class='container-menu'>
        <nav class='navigation'>
          <ul class='core-menu'>
            <li><a href='#'>Product<span class='toggle'></span></a>
              <ul class='dropdown'>
                <li><a href='#'>Windows 10<span class='toggle2'></span></a></a>
                <ul class='dropdown2'>
                  <li><a href='#'>Windows 10 Pro</a></li>
                  <li><a href='#'>Windows 10 Home</a></li>
                  <li><a href='#'>Profesional</a></li>
                </ul>
              </li>
              <li><a href='#'>Windows Phone</a></li>
              <li><a href='#'>Laptop</a></li>
            </ul>
          </li>
          <li><a href='#'>Featured<span class='toggle'></a>
              <ul class='dropdown'>
                <li><a href='#'>Cortana</a></li>
                <li><a href='#'>Xboct</a></li>
                <li><a href='#'>Microsoft Edge</a></li>
              </ul>
            </li>
            <li><a href='#'>Devices</a></li>
            <li><a href='#'>Help</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="menu-toggle"><i class="fa fa-bars"></i></div>
</header>
