<section class="container mt-5 mb-5">
  <% if @products.present? %>
    <h3 class="h3-responsive text-muted text-center title-home">Produtos em destaque</h3>
    <section class="container-product mt-" style=" ">
      <%= render 'products' %>
    </section>
  <% else %>
    <h3 class="h3-responsive text-muted text-center title-home">Nenhum produto em destaque</h3>
  <% end %>
</section>
