<section class="container mt-5 mb-5">
  <h3 class="text-muted mt-5 mb-3">Conheça nossos lançamentos:</h3>
  <section class="container-product mt-" style=" ">
    <% @products.each do |product| %>
      <% if product.active == true %>
        <figure>
          <div class="eng-prods">
            <% if product.photo_product.attached? %>
              <a>
                <%= image_tag product.photo_product,title: product.description %>
              </a>
            <% else %>
              <a>
                <%= image_tag 'sem-imagem.jpg', class:"img-fluid img-item" %>
              </a>
            <% end %>
            <div class="prod-description">  <%= product.description %> </div>
          </div>
        </figure>
      <% end %>
    <% end %>
  </section>
</section>
