@import "./application";

body {
    background-color: #eaeaea;
}

.header-top .form-control {
    border-radius: 0 !important;
}

.btn-outline-dark:hover {
    border-radius: 0 !important;
}

.btn:not(:disabled):not(.disabled) {
    border-radius: 0 !important;
}

.btn-outline-dark.focus,
.btn-outline-dark:focus {
    -webkit-box-shadow: 0 0 0 0.2rem #c6adff !important;
    box-shadow: 0 0 0 0.2rem #c6adff !important;
}

@media (max-width: 767.98px) {
    .header-top .navbar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .header-top .navbar .btn {
        margin: 0 auto;
    }
    .header-top .navbar .form-inline {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .header-top .navbar .navbar-brand {
        margin: 0;
    }
}

.container-product {
    background-color: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    figure {
        width: 250px;
        justify-content: center;

        align-items: center;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        background: white;
        margin-right: 10px;
        margin-top: 20px;
        .eng-prods {
            margin-top: 20px;
            margin-bottom: 20px;
            span {
                display: block;
                display: flex;
                height: 230px;
                img {
                    max-width: 230px;
                    max-height: 230px;
                    display: block;
                    align-self: center;
                }
            }
            .prod-description {
                text-align: center;
                font-weight: 700;
                padding-top: 18px;
                padding-bottom: 10px;
            }
        }
        -webkit-box-shadow: 0px 0px 4px 4px rgba(201, 201, 201, 0.28);
        box-shadow: 0px 0px 4px 4px rgba(201, 201, 201, 0.28);
    }
}

.title-home {
    width: 100%;
    padding: 20px 0;
    color: #105797 !important;
    margin-top: 10px;
    display: inline-block;
}

.mini-footer {
    background: #105797;
    text-align: center;
    padding: 32px 0;
}
.mini-footer p {
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #fff;
}
.mini-footer p a {
    color: #fff;
}
.mini-footer p a:hover {
    color: #ff5737;
}

.help-button-wrapper {
    position: fixed;
    bottom: 1em;
    right: 1em;
    text-align: center;
  }
  .help-button {
    height: 6em;
    width: 6em;
    font-size: 14px;
    border-radius: 50%;
    border: 0 none;
    background: #72ab59;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transform: scale(1);
    transition: all 200ms ease;
  }
  .help-button:hover,
  .help-button:focus,
  .help-button:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    outline: 0;
  }
  .help-button span {
    display: block;
    font-size: 2em;
    transform: scale(1);
    transition: transform 100ms ease;
  }
  .help-button:hover span,
  .expanded .help-button span,
  .expanded .help-button span {
    transform: scale(1.25);
  }
  .expanded .help-button {
    transform: scale(0.5);
    color: rgba(255, 255, 255, 0.5);
    background: #ffaa00;
  }
  .help-list {
    list-style: none;
    padding: 0;
    margin: 0;
    transition: all 200ms ease;
    transform: translate(0, 90px) scale(0.5);
    transform-origin: bottom center;
    opacity: 0;
  }
  .expanded .help-list {
    transform: translate(0px, 20px) scale(1);
    opacity: 1;
  }
  .help-list li {
    margin-bottom: 1em;
  }
  .help-list a {
    color: #212121;
  }
  
