@import "./application";

header {
  position: absolute;
  top: 103px;
  left: 0;
  padding: 0 100px;
  background: #093e61;
  width: 100%;
  box-sizing: border-box;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}
header nav ul li a:hover,
header nav ul li a.active {
  color: #093e61;
  background: #8ed1f6;
}
.menu-toggle {
  color: #8ed1f6;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
@media (max-width: 991px) {
  header {
    padding: 0 20px;
  }
  .menu-toggle {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #093e61;
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }
  header nav.active {
    left: 0;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.dropdown {
  position: absolute;
  width: 230px;
  background: #093e61;
  text-align: left;
  display: none;
}
.dropdown li {
  display: block;
}
.dropdown li a {
  display: block;
}
.dropdown2 {
  position: absolute;
  width: 230px;
  background: #093e61;
  text-align: left;
  display: none;
  right: -100%;
  top: 0;
}
.dropdown2 li {
  display: block;
}
.dropdown2 li a {
  display: block;
}

@media (max-width: 720px) {
  .dropdown {
    width: 100%;
    background: #093e61;
    text-align: center;
    position: relative;
  }
  .dropdown2 {
    right: 0;
    top: 0;
    width: 100%;
    position: relative;
    padding: 0 20px;
  }
}
