@import "./application";

.header-top .form-control {
  border-radius: 0 !important;
}

.btn-outline-dark:hover {
  border-radius: 0 !important;
}

.btn:not(:disabled):not(.disabled) {
  border-radius: 0 !important;
}


.btn-outline-dark.focus,
.btn-outline-dark:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #c6adff !important;
  box-shadow: 0 0 0 0.2rem #c6adff !important;
}


@media (max-width: 767.98px) {
  .header-top .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header-top .navbar .btn {
    margin: 0 auto;
  }
  .header-top .navbar .form-inline {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .header-top .navbar .navbar-brand {
    margin: 0;
  }
}

.container-product {
  background-color:rgb(241,241,241);
  display:flex;
  flex-wrap:wrap;
  justify-content:center;

  figure {
    width: 250px;
    justify-content: center;
    align-items:center;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    background: white;
    margin-right: 10px;
    margin-top: 20px;
    .eng-prods {
      margin-top: 20px;
      margin-bottom: 20px;
      a{
        display: block;
        display:flex;
        height: 230px;
        img{
          max-width: 230px;
          max-height: 230px;
          display:block;
          align-self: center;
        }
      }
      .prod-description {
        text-align: center;
        font-weight: 700;
        padding-top: 18px;
        padding-bottom: 10px;
      }
    }
  }

}