  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><%= link_to 'Dasboard', dashboard_path %></li>
              <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>